@model WebApp.Core.Data.Characters

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Characters</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaminaPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaminaPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deffense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deffense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
