@model IEnumerable<WebApp.Core.Data.Characters>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HealthPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaminaPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deffense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Players.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HealthPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaminaPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deffense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Players.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
